#background-timer{
    border-radius: 10px;
    background-color: "#335c67";
}

#timer{
    color: "#edf6f9";
}


.mic{
    position: fixed; /* Fixed positioning so it stays in the viewport */
    bottom: 0; /* Position at the bottom of the viewport */
    left: 50%; /* Position in the horizontal center */
    transform: translateX(-50%) scale(0.3); /* Translate back by 50% of the image width to center it, and scale down by a factor of 2 */
}

.button {
    position: fixed; /* Fixed positioning so it stays in the viewport */
    bottom: 0; /* Position at the bottom of the viewport */
    left: 50%; /* Position in the horizontal center */
    transform: translateX(-50%) scale(0.3); /* Translate back by 50% of the image width to center it, and scale down by a factor of 2 */
    z-index: 9998;
  }
