#background-timer{
    border-radius: 10px;
    background-color: "#335c67";
}

#timer{
    color: "#edf6f9";
}

.button {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.1);
    z-index: 9999;
    line-height: 100px;
    text-align: center;
  }

  .button-2 {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.3);
    z-index: 9999;
    line-height: 100px;
    text-align: center;
  }